body{
	background-color:#242422;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #242424;
}

ul li {float: left;}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover:not(.active) {background-color: #111;}

ulli a.active {background-color: #4CAF50;}

ul li a.right{float: right;}

@media screen and (max-width: 600px){
    #menu > li:nth-child(7) > a > img{float: none;}
}
/*************************/
h2{
	font-size:36px;
	line-height:44px;
	color:#fff;
	text-align:center;
}
p{
	text-align:center;
	margin:0 auto;
}
.row{
	box-sizing: border-box;
    max-width: 1200px;
    padding: 72px 50px 0;
    position: relative;
	margin:0 auto;
	}
.row>p{
	color:grey;
    margin-bottom: 30px;
    max-width: 710px;
}
.con{
	margin 0 auto;
	text-align:center;
}
/*First button-Open Windows*/
body > section > button:nth-child(1){
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
body > section > button:nth-child(2){
	background-color: #fff; 
    border: none;
    color: grey;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	margin-right:20px;
}
/*Buttons responsive*/
@media (max-width: 768px) {
  .btn {
    font-size:11px;
    padding:4px 6px;
  }
}

@media (min-width: 768px) {
  .btn {
    font-size:12px;
    padding:6px 12px;
  }
}

@media (min-width: 992px) {
  .btn {
    font-size:14px;
    padding:8px 12px;
  }
}

@media (min-width: 1200px) {
  .btn {
    padding:10px 16px;
    font-size:18px;
	text-align:center;
  }
}
/*********** image monitor*/
body > div.imagecontainer > figure:nth-child(1) > img{
	display:block;
	max-width:800px;
	width:70%;
	margin:0 auto;
	position:relative;

}
body > div.imagecontainer > figure:nth-child(2) > img{
    max-width:200px;
	display:block;
	width:60%;
	margin:0 auto;
	position: absolute;
    top: 781px;
    transform: translate(-50%, -50%);
    left: 834px;

}
body > div.imagecontainer > figure:nth-child(3) > img{
	max-width: 140px;
    display: block;
    width: 50%;
    margin: 0 auto;
    position: absolute;
    top: 796px;
    left: 300px;	
	transform: translate(-50%, -50%);

}
 @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){

	  ul li a{
    float: left;
    width: 60%;
  }
 body > div.imagecontainer > figure:nth-child(3) {
	 display:block;
	 max-width:300px;
	 margin:0 auto;
 }
}
