@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');



#two {
position:absolute;
top: 491px;
left: 55px;
width: 416px;
height: 300px;

}
i
div[^=para]{
border: 2px solid lightGray;
background-color:white;
padding: -10px 60px;
}

@media screen and (max-width: 600px) and (min-width: 320px ){

	
	
  .flex-container{
	 
    display: -webkit-flex;
    display: flex;
    width: 400px;
    height: 250px;
}

.flex-item{
    width: 100px;
    height: 100px;
    margin: 10px;
	text-align: center;

}
}
@media only screen and (max-width: 800)and (min-width: 500px) {
  .deviceWidth {width:280px!important; padding:0;}	
  .center {text-align: center!important;}	 
    
	body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.3em;
  word-wrap: break-word; }
	.flex-container{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
    width: 400px;
    height: 250px;
}

.flex-item{
    width: 100px;
    height: 100px;
    margin: 10px;
	text-align: center;

}

@media only screen and (max-width: 320px){
  .flex-container{
	 
    display: -webkit-flex;
    display: flex;
    width: 400px;
    height: 250px;
}

.flex-item{
    width: 100px;
    height: 100px;
    margin: 10px;
	text-align: center;

}
}
/* body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.3em;
  word-wrap: break-word; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1em;
  font-weight: 700; }

p {
  line-height: 1.3em;
  font-weight: 300; }

body {
  font-size: 1.2em; }

@media screen and (min-width: 680px) {
  body {
    font-size: 1.4em; } }
@media screen and (min-width: 1224px) {
  body {
    font-size: 1.6em; } }
@media screen and (min-width: 1400px) {
  body {
    font-size: 1.8em; } }
	
h1 {
  font-size: 2em; }

h2 {
  font-size: 1.8em; }

h3 {
  font-size: 1.6em; }

h4 {
  font-size: 1.4em; }

h5 {
  font-size: 1.2em; }

p {
  font-size: 1.2em; }

h6 {
  font-size: 1em; 

} */

